<app-title [title]="title"></app-title>
<form [formGroup]="registerForm">
  <div class="row">
    <div class="col-md-8">
      <tabset>
        <tab heading="Event">
          <div class="form-row">
            <div class="form-group col-md-12">
              <label>Theme</label>
              <input type="text" class="form-control" [(ngModel)]="event.theme"
                [ngClass]="{'is-invalid': registerForm.get('theme').errors && registerForm.get('theme').touched}"
                formControlName="theme" placeholder="Insira o theme">
              <div *ngIf="registerForm.get('theme').hasError('required')
              && registerForm.get('theme').touched" class="invalid-feedback">
                Theme required.
              </div>
              <div *ngIf="registerForm.get('theme').hasError('minlength')
            && registerForm.get('theme').touched" class="invalid-feedback">
                Min 4 Characters.
              </div>
              <div *ngIf="registerForm.get('theme').hasError('maxlength')
          && registerForm.get('theme').touched" class="invalid-feedback">
                Theme max 50 Characters.
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8">
              <label>Local</label>
              <input type="text" class="form-control" [(ngModel)]="event.local" [ngClass]="{'is-invalid': registerForm.get('local').errors
              && registerForm.get('local').touched}" formControlName="local" placeholder="">
              <div *ngIf="registerForm.get('local').hasError('required')
              && registerForm.get('local').touched" class="invalid-feedback">
                Local required.
              </div>
            </div>
            <div class="form-group col-md-4">
              <label>Date Time</label>
              <input type="text" class="form-control" [(ngModel)]="event.dateEvent" bsDatepicker
                value="{{ dateEvent | DateTimeFormatPipe }}"
                [bsConfig]="{ dateInputFormat : 'DD/MM/YYYY hh:mm' }" [ngClass]="{'is-invalid': registerForm.get('dateEvent').errors
            && registerForm.get('dateEvent').touched}" formControlName="dateEvent" placeholder="">
              <div *ngIf="registerForm.get('dateEvent').hasError('required')
            && registerForm.get('dateEvent').touched" class="invalid-feedback">
                Date Time required.
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-2">
              <label>Quantity People</label>
              <input type="text" [(ngModel)]="event.quantPeople" [ngClass]="{'is-invalid': registerForm.get('quantPeople').errors
              && registerForm.get('quantPeople').touched}" class="form-control is-invalid" formControlName="quantPeople"
                placeholder="">
              <div *ngIf="registerForm.get('quantPeople').hasError('required')
              && registerForm.get('quantPeople').touched" class="invalid-feedback">
                Quantity required.
              </div>
              <div *ngIf="registerForm.get('quantPeople').hasError('max')
            && registerForm.get('quantPeople').touched" class="invalid-feedback">
                Max 2000.
              </div>
            </div>

            <div class="form-group col-md-4">
              <label>Telephone</label>
              <input type="text" mask="(00) 0 0000-0000" class="form-control" [(ngModel)]="event.telephone" [ngClass]="{'is-invalid': registerForm.get('telephone').errors
            && registerForm.get('telephone').touched}" formControlName="telephone" placeholder="(00) 0 0000-0000">
              <div *ngIf="registerForm.get('telephone').hasError('required')
            && registerForm.get('telephone').touched" class="invalid-feedback">
                Telephone required.
              </div>
            </div>
            <div class="form-group col-md-6">
              <label>Email</label>
              <input type="text" class="form-control" [(ngModel)]="event.email" [ngClass]="{'is-invalid': registerForm.get('email').errors
            && registerForm.get('email').touched}" formControlName="email" placeholder="e-mail">
              <div *ngIf="registerForm.get('email').hasError('required')
            && registerForm.get('email').touched" class="invalid-feedback">
                Email required.
              </div>
              <div *ngIf="registerForm.get('email').hasError('email')
          && registerForm.get('email').touched" class="invalid-feedback">
                Example: email@email.com
              </div>
            </div>
          </div>
        </tab>
        <tab heading="Lots">
          <div>
            <div formArrayName="lots"
			*ngFor="let lot of lots.controls; let i=index">
				<fieldset [formGroupName]="i" class="form-group">
					<legend class="d-flex justify-content-between capitalize">
					  {{ lots.get( i + '.name' ).value === '' ?
						  'Lots' :
						 lots.get( i + '.name' ).value
					  }}
					  <button class="btn btn-sm btn-warning mb-1" (click)="removeLot(i)" >remove</button>
					</legend>
					<div class="row">
					  <div class="form-group col-md-4">
						<label>Name</label>
						<input type="text" class="form-control"
						[ngClass]="{'is-invalid': lots.get( i + '.name' ).errors && lots.get( i + '.name' ).touched}"
						formControlName="name" placeholder="">
					  </div>
					  <div class="form-group col-md-4">
						<label>Quantity</label>
						<input type="text" class="form-control"
						[ngClass]="{'is-invalid': lots.get( i + '.quantity' ).errors && lots.get( i + '.quantity' ).touched}"
						formControlName="quantity" placeholder="000">
					  </div>
					  <div class="form-group col-md-4">
						<label>Price</label>
						<input type="text" currencyMask
						[options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }"
						class="form-control"
						[ngClass]="{'is-invalid': lots.get( i + '.price' ).errors && lots.get( i + '.price' ).touched}"
						formControlName="price" placeholder="R$ 0,00">
					  </div>
					  <div class="form-group col-md-4">
						<label>Date Start</label>
						<input type="text" class="form-control"
						formControlName="dateStart" placeholder="01/10/2020">
					  </div>
					  <div class="form-group col-md-4">
						<label>Date End</label>
						<input type="text" class="form-control"
						formControlName="dateEnd" placeholder="01/10/2020">
					  </div>
					</div>
				</fieldset>
            </div>
            <button (click)="addLot()" class="btn btn-outline-primary">
              Add Lot
            </button>
          </div>
        </tab>
        <tab heading="Social Networks">
		  <div formArrayName="socialNetworks"
		  *ngFor="let social of socialNetworks.controls; let i=index">
			<fieldset [formGroupName]="i" class="form-group">
				<legend class="d-flex justify-content-between capitalize">
					{{ socialNetworks.get( i + '.name' ).value === '' ?
						'Social Networks' :
					   socialNetworks.get( i + '.name' ).value ?.replace('fab fa-', '')
					}}
				  <button class="btn btn-sm btn-warning mb-1" (click)="removeSocial(i)"
					>remove</button>
				</legend>
				<div class="row">
				  <div class="form-group col-md-4">
					<label>Name</label>
					<select class="form-control"
					[ngClass]="{'is-invalid': socialNetworks.get( i + '.name' ).errors && socialNetworks.get( i + '.name' ).touched}"
					formControlName="name">
					  <option value="">Select</option>
					  <option value="fab fa-youtube">Youtube</option>
					  <option value="fab fa-instagram">Instagram</option>
					  <option value="fab fa-facebook">Facebook</option>
					  <option value="fab fa-twitter">Twitter</option>
					  <option value="fab fa-google">Google</option>
					  <option value="fab fa-linkedin">Linkedin</option>
					  <option value="fab fa-pinterest">Pinterest</option>
					  <option value="fab fa-whatsapp">Whatsapp</option>
					  <option value="fab fa-telegram">Telegram</option>
					  <option value="fab fa-skype">Skype</option>
					  <option value="fab fa-vimeo">Vimeo</option>
					</select>
				  </div>
				  <div class="form-group col-md-8">
					<label>Link</label>
					<input type="text" prefix="http://" mask=""
					[ngClass]="{'is-invalid': socialNetworks.get( i + '.url' ).errors && socialNetworks.get( i + '.url' ).touched}"
					formControlName="url" class="form-control" placeholder="URL">
				  </div>
				</div>
			  </fieldset>
          </div>
          <button class="btn btn-outline-primary" (click)="addSocial()">
            Add Social Network
          </button>
        </tab>
      </tabset>
      <div class="row">
        <div class="col-md-12 d-flex justify-content-end">
          <!-- {{registerForm.value | json}} -->
          <button [disabled]="!registerForm.valid" class="btn btn-success my-2" (click)="saveEvent()">Save
            Alterations</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-row">
        <div class="form-group col-md-9">
          <input type="file" #file (change)="onFileChange($event, $event.target.files)" class="form-control is-invalid"
            formControlName="imageURL" placeholder="" style="display: none">
        </div>
      </div>
      <div class="card profile-card-2">
        <div class="card-img-block">
          <img [src]="imageURL" class="img-fluid" (click)="file.click()" style="cursor: pointer; width: 350px;"
            alt="Card image cap" />
        </div>
        <div class="card-body pt-3">
          <h4>{{event.theme}}</h4>
          <p class="card-text">
            <b>Local:</b> {{event.local}}
            <br>
            <b>Date:</b> {{event.dateEvent | DateTimeFormatPipe}}
          </p>
          <hr>
          <p class="card-text">
            <b>Contacts</b><br>
             <small class="text-muted">Telephone: {{event.telephone | mask: '(00) 0 0000-0000'}}</small>
            <br>
            <small class="text-muted">e-mail: {{event.email}}</small>
          </p>
          <p class="card-text">
            Capacity:
            <small class="text-muted">{{event.quantPeople}}</small>
          </p>
          <div class="row">
            <div class="icon-block col-md-8 iconsSocial">
			  <a href="{{socialNetworks.get( i + '.url').value}}"
			  *ngFor="let socialNetwork of socialNetworks.controls; let i=index" class="mr-3" target="_blank">
                <i class="{{socialNetworks.get( i + '.name').value}}"></i>
              </a>
            </div>
            <!--div class="col-md-4 d-flex justify-content-center">
              <a href="#" class="btn btn-outline-primary">Join</a>
            </div-->
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
